@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 60px;
    background: #F2F2F2;
     font-family: "Plus Jakarta Sans", sans-serif;
}

h3 {
    color: #555555;
    font-size: 12px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFF;
    padding: 15px;
    border-bottom: 1.5px solid #CCC;
}
.logo-name {
    display: flex;
    align-items: center;
}

.logo-name img {
    width: 30px;
    height: 30px;
}

.logo-name .company-name {
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.logo-name .company-name i {
    margin-right: 30px;
}

.header-right-pane {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-right-pane .user-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.header-right-pane .search-bar {
    display: flex;
    align-items: center;
}

.header-right-pane .search-bar input {
    position: relative;
    width: 250px;
    height: 45px;
    flex: 1;
    border-radius: 8px;
    border: 1px solid #CCC;
    padding: 0 30px;
    font-size: 17px;
}

.header-right-pane .search-bar i {
    position: absolute;
    z-index: 100;
    font-size: 20px;
    transform: translateX(50%);
    font-weight: 600;
}

.header-right-pane .search-bar span {
    background: #ECEAEA;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 20px;
    z-index: 1;
    transform: translateX(-140%);
    border-radius: 2px;
}

.header-right-pane .search-bar span {
    font-size: 13px;
    font-weight: 500;
}

.user-profile .notification, span {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ECEAEA;
    border-radius: 6px;
    width: 40px;
    height: 40px;
}

.user-profile span i{
    font-size: 20px;
}

.user-profile .notification i {
    font-size: 20px;
    position: relative;
}

.user-profile .notification span {
    position: absolute;
    background: #169EF2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    top: 100px;
    transform: translateX(50%);
}

.user-profile .notification span {
    color: #FFF;
    font-size: 9px;
}


.user-profile .admin-img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.user-profile .admin-img img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.user-profile .admin-img .role {
    padding: 10px 0;
}

.user-profile .admin-img span {
    background: none;
    margin-left: 10px;
    font-size: 12px;
}

.dashboard-container {
    background: #FFF;
    display: grid;
    grid-template-columns: 1fr 4fr;
    
}

.sidebar {
    margin-top: 30px;
    background: #FFF;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-left: 20px;
}
.sidebar .top-section {
    margin-bottom: 30px;
}

.sidebar .top-section ul,
         .lower-section ul {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    gap: 30px;
}
.sidebar h2 {
    font-size: 15px;
    font-weight: 400;
    color: #777777;
}

.sidebar ul li {
    list-style: none;
}

.sidebar ul i {
    margin-right: 10px;
}

.sidebar .lower-section .emails {
    display: flex;
    align-items: center;
    padding: 0 0 50px 0;
}

.sidebar .lower-section .emails span{
    background: rgb(200, 0, 0);
    margin-left: 90px;
    width: 25px;
    height: 25px;
    font-size: 9px;
    color: #FFF;
    border-radius: 50px;
}

main {
    margin-top: 20px;
    background-color: #CCCC;
    padding: 15px;
    border-radius: 10px;
}

main .cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

main .cards .card {
    background-color: #FFF;
    border-radius: 10px;
    padding: 10px;
}
main .cards .card .card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .cards .card .card-title h3 {
    color: #555555;
    font-size: 12.5px;
}

main .cards .card .card-title span {
    background: none;
    border: 1px solid #7777;
    width: 20px;
    height: 20px;
}

main .cards .card .card-title span i {
    font-size: 12.5px;
}

main .cards .card .card-title span .fa-clone {
    color: #169EF2;
}

main .cards .card .card-title span .fa-circle-check {
    color: orange;
}

main .cards .card .card-title span .fa-spinner {
    color: greenyellow;
}

main .cards .card .card-title span .fa-calendar-xmark {
    color: red;
}

main .cards .card .mini-details {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

main .cards .card .mini-details h1 {
    margin-right: 40px;
    font-size: 20px;;
}
main .cards .card .mini-details p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}
main .cards .card .mini-details i {
    font-size: 12px;
    margin-right: 8px;
}

main .cards .card .mini-details span {
    background: none;
    color: green;
    margin-right: 25px;
}

main .today-status {
    margin-top: 15px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 20px;
}

main .today-status .heading-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;

}
main .today-status .heading-section h3{
    color: #555555;
    font-size: 12.5px;
}
main .today-status .heading-section span {
    background: none;
}

main .today-status .total-appointments {
    background: #FFF;
    height: auto;        
    min-height: 100px;  
    width: 100%;
    border-radius: 8px;
    padding: 10px 15px;     
}

.calendar-container {
  display: flex;
  align-items: center;
  background: #EEE;
  padding: 5px;
  width: fit-content;
  margin-bottom: 10px;
}

.days-wrapper {
  display: flex;
  gap: 5px;
  margin: 0 10px;
}

.day-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 12px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.day-item span {
    width: 28px;
    height: 28px;
    font-size: 10px;
    color: #6b7280;
    margin-bottom: 2px;
}


.day-item strong {
  font-size: 10px;
}

.day-item.active {
  background-color: #3b82f6;
  color: white;
  border-radius: 8px;
}

.day-item.active span {
  color: white;
}

.day-item.disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.nav-btn {
  background: none;
  border: none;
  font-size: 12.5px;
  cursor: pointer;
  color: #333;
}

.today-status .total-appointments table {
  width: 100%;
  border-collapse: collapse;
}

 .today-status .total-appointments thead {
    text-align: left;
    color: #040202;
    font-size: 10px;
    background: #EEE;
    color: #555555;
}

 .today-status .total-appointments td, th {
  padding: 5px 5px;
}
.today-status .total-appointments tbody tr {
    border-top: 1px solid #CCC;
}

.today-status .total-appointments td {
  font-size: 10.5px;
  color: #888;
}

.today-status .total-appointments tbody tr:hover {
  background: #f1f3ff;
  cursor: pointer;
}

.today-status tbody tr .patient,
.today-status tbody tr .doctor {
    display: flex;
    align-items: center;
}

.today-status tbody tr img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}
.today-status tbody tr .completed {
    color: #008000;
}
.today-status tbody tr .ongoing {
    color: #FFED29; 
}

.today-status tbody tr .pending {
    color: #BE5103;
}

.today-status tbody tr .cancelled {
    color: #FF2C2C;
}

.pending-appointments .cards {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-bottom: 15px;
}

.pending-appointments .card {
    border: 1px solid #eee;
    border-radius: 8px;
    padding: 10px;
    background: #fff;
    transition: 0.3s;
}

.pending-appointments .card.active {
    border: 1.5px solid #3b82f6;
    box-shadow: 0 4px 12px rgba(59, 130, 246, 0.1);
}

.card-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 8px;
}
.card-header img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.card-header h6 {
    font-size: 12.5px;
    color: #333;
}

.card-body {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}

.detail-row {
    display: flex;
    justify-content: space-between;
    font-size: 10.5px;
}

.doctor-name, .date {
    color: #888;
    font-weight: 500;
}

.type {
    color: #3b82f6;
}


.card-actions {
    display: flex;
    gap: 10px;
}

.card-actions button {
    flex: 1;
    padding: 6px;
    border-radius: 8px;
    border: none;
    font-size: 12.5px;
    font-weight: 500;
    cursor: pointer;
}

.btn-accept {
    background: #3b82f6;
    color: white;
}

.btn-reject {
    background: #ebf2ff;
    color: red;
}


main .today-status .cancelled-appointments {
    background: #FFF;
    border-radius: 8px;
    padding: 5px 5px;
}
.cancelled-appointments .cards {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.cancelled-appointments .card {
    background: #FFF; 
    border: 1px solid #CCC;
    border-radius: 8px;
    padding: 5px;
}

.cancelled-appointments .card-header {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 5px;
}

.cancelled-appointments .card-header h6 {
    font-size: 12.5px;
    font-weight: 600;
}

.cancelled-appointments .card-body {
    margin-bottom: 15px;
    margin-left: 35px;
}

.cancelled-appointments .date-time {
    color: #9ca3af;
    font-size: 10.5px;
    margin-bottom: 2px;
}

.cancelled-appointments .type {
    color: #6b7280;
    font-weight: 600;
    font-size: 10.5px;
    margin-bottom: 2px;
}

.cancelled-appointments .doctor-name {
    color: #9ca3af;
    font-size: 10.5px;
}

.btn-notify {
    width: 100%;
    background-color: #3b82f6;
    color: white;
    border: none;
    padding: 6px;
    border-radius: 8px; 
    font-size: 12.5px;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.3s;
}

.btn-notify:hover {
    background-color: #2563eb;
}







