@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 20px 0 0 20px;
    font-family: "Comfortaa", sans-serif;
}

.subscribe-button {
    background-color: rgb(200, 0, 0);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 12px;
    margin-right: 10px;
    transition: opacity 0.15s;
}

.subscribe-button:hover {
    opacity: 0.8;
}

.subscribe-button:active {
    opacity: 0.5;
}

.join-button {
    background-color: rgb(239, 235, 235);
    color: rgb(41, 118, 211);
    border: 2px solid rgb(129, 129, 236);
    border-radius: 4px;
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.15s, color 0.15s;
}

.join-button:hover {
    background-color: rgb(41, 118, 211);
    color: #FFF;
}

.join-button:active {
    opacity: 0.7;
}

.tweet-button {
    border-radius: 20px;
    border: none;
    background-color: rgb(2, 158, 225);
    padding: 12px 20px;
    color: #FFF;
    font-weight: 600;
    font-size: 15px;
    transition: box-shadow 0.15s;
}

.tweet-button:hover {
     box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.15);
}

.save-button {
    padding: 12px 20px;
    margin-left: 10px;
    border-radius: 5px;
    background-color: green;
}

.save-button:hover{
    padding-left: 25px;
    padding-right: 25px;
}