@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

body {
  margin: 0;
  font-family: "Comfortaa";
}
ul, li {
  padding: 0;
  list-style-type: none;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  column-gap: 60px;
  width: 100%;
}

.grid-container header {
  grid-column: span 3;
  text-align: center;
  border-bottom: 1px solid #dddd;

}
.grid-container header h1 {
  font-size: 60px;
}
.grid-container nav {
  margin-left: 30px;
  border-right: 1px solid #dddd;
}
.grid-container nav li {
  text-decoration: underline;
}

.grid-container article {
  padding: 20px;
}

.grid-container article h2 {
  font-size: 56px;
  max-width: 800px;
}

.grid-container article img {
  width: 100%;
}

.grid-container article p {
  margin-top: 20px;
  line-height: 30px;
  color: #666
}

.grid-container aside {
  padding: 30px;
  border-left: 1px solid #dddd;
}

.grid-container footer {
  grid-column: span 3;
  text-align: center;
  border-top: 1px solid #ddd;
  padding: 20px;
}

/* Responsive */

@media screen and (max-width: 1200px) {
  nav {
    grid-column: span 3;
    border-right: 0;
    border-bottom: 1px solid #ddd;
  }
  nav li {
    display: inline-block;
    margin-right: 10px;
  }
  article {
    grid-column: span 2;
  }
  aside {
    padding: 14px;
  }
}

@media screen and (max-width: 980px) {
  nav, article, aside {
    grid-column: span 3;
  }
  aside {
    border-left: 0;
    border-top: 1px solid #ddd;
  }
  article h2 {
    font-size: 40px;
  }
}



