@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

body{
    margin: 30px;
    font-family: "Comfortaa";
}

.grid-container {
    background: #EEE;
    max-width: 900px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 100px 300px 200px;
    gap: 10px;
    justify-content: stretch;
    align-items: stretch;
}

.grid-container > div {
    background: #CCCC;
    border: 1px solid #777;
    text-align: center;
    padding: 20px;
}

.grid-container > div:nth-child(1) {
   grid-column: 1/span 2; 
}

.grid-container > div:nth-child(2) {
   grid-column: span 3; 
}

.grid-container > div:nth-child(3) {
   grid-column: span 1; 
}

.grid-container > div:nth-child(4) {
   grid-column: 2 / 6;
   align-self: end; 
}

.grid-container > div:nth-child(5) {
   grid-column: span 3; 
}

.grid-container > div:nth-child(6) {
   grid-column: span 3; 
   align-self: start;
   justify-self: end;
}